<!-- НАСЛЕДНИК ШАБЛОНА index.html -->
<!-- Обеспечивает содержание блоков "title" и "body" на сранице "/login"--> 
<meta charset="UTF-8">  <!-- кодировка текста на странице-->
{% extends 'index.html' %}
 
<!--здесь мы записываем код, который будет исполняться в базовом шаблоне index.html в теге <title> -->
{% block title %}логин{% endblock %}

<!--здесь мы записываем код, который будет исполняться в базовом шаблоне index.html внутри тега <body>-->
{% block content %} 

<!--  Клик по рисунку - переход на страницу "/home"-->
<a href="/home"><img src="/static/img/home.png" alt="Домой"></a><br><br>

<!-- Создание полей и кнопки для входа на главную страницу -->
<h2>Войти</h2>
<form action="/login", method="POST">    

    <label for="username">"Имя(логин)":</label>
    <input type="text" id="username" name="username">

    <label for="password">"пароль":</label>
    <input type="text" id="password" name="password">

    <button type="submit">Отправить</button><br><br>
</form>

<!-- вывод на экран всех сообщений, накопленных командами flash() при переходе на страницу /home-->
<h2>{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
{% endwith %}
</h2>

{% endblock %}